.forgot-cont {
  display: flex;
  height: 78vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.forgot-cont .forgot-wrap {
  background: #fff;
  width: 40%;
  padding: 15px 20px;
}

.forgot-cont .forgot-wrap h6 {
  text-align: center;
  margin: 0px 0px 20px;
  font-size: 30px;
}

.forgot-cont .forgot-wrap .forgot-box {
  margin: 0px 0px 15px;
}

.forgot-cont .forgot-wrap .forgot-box input[type="text"] {
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #353535;
  width: 100%;
}

.forgot-cont .forgot-wrap .form-submit {
  display: flex;
  justify-content: center;
}

.forgot-send {
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 800;
  height: 50px;

  background: #0e3a74 !important;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  padding: 1rem !important;
  align-content: center !important;
  outline: none;
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.3s;
  margin-left: 25% !important;
  font-weight: bold !important;
}
.forgotscreen_img {
  margin-left: 100px !important;
}
